ul {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  width: 33%;
  height: 100%;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  height: 100%;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

img {
  max-width: 75px;
}

#navbar {
  width: 100%;
  height: 100%;
}
